@{
    Layout = "_LoginLayout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Poppins, sans-serif;
            background: linear-gradient(white, #b200ff);
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            height: 100%;
        }
        .login-page {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            width: 100%;
            max-width: 400px;
            margin: auto;
        }

        .login-form-container {
            text-align: center;
            width: 100%;
            padding: 30px;
            background: rgba(0, 0, 0, 0.5);
            border-radius: 10px;
            box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
        }

        .login-form-container input {
            width: 100%;
            padding: 10px;
            font-size: 14px;
            color: #fff;
            margin-bottom: 20px;
            border: none;
            border-bottom: 1px solid #fff;
            background: transparent;
            outline: none;
        }

        .login-form-container h2 {
            color: white;
            margin-bottom: 20px;
        }

        .login-form-container .error-message {
            color: red;
            margin-bottom: 15px;
            font-size: 0.9rem;
        }

        .btn-login {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            color: #fabeef;
            background: transparent;
            border: 1px solid #fabeef;
            border-radius: 5px;
            text-decoration: none;
            transition: all 0.5s;
        }

        .btn-login:hover {
            background: #fabeef;
            color: #fff;
            box-shadow: 0 0 5px #fabeef, 0 0 25px #fabeef, 0 0 50px #fabeef;
        }
    </style>
</head>
<body>
    <div class="login-page">
        <div class="login-form-container">
            <form class="login-form" asp-action="ValidarLogin" asp-controller="Login" method="post">
                <h2>Inicio de Sesión</h2>

                @if (TempData["Error"] != null)
                {
                        <p class="error-message">@TempData["Error"]</p>
                }

                <input type="email" name="email" placeholder="Correo electrónico *" required />
                <input type="password" name="contrasena" placeholder="Contraseña *" required />

                <button type="submit" class="btn-login">Iniciar Sesión</button>
            </form>
        </div>
    </div>
</body>
</html>
